@charset "UTF-8";

.box1 {
	text-align:center;
	padding-top: 5%;
	}

.location {
	margin: 0 auto;
	margin-top: 3%;
}
	

.box2 {
	text-align:left;
	padding-left : 20%;
	padding-top: 5%;
	margin-left: 20%;
	}
	

	
.bt {
	margin-top : 5%;
}

.list {
	display: inline;
}

td{
	padding: 10px;
}
.list_list {
	list-style : none;
	text-align:center;
}

.tb {
	padding-left: 20%;
}

.tb {
	padding: 5%;
	padding: 15px;
	margin: auto;

}